<!-- ===============================================
           ================= HEADER Content ===================
           ================================================ -->
<div ng-include="'views/partials/header.html'"></div>
<!--/ HEADER Content  -->
<!-- =================================================
================= CONTROLS Content ===================
================================================== -->
<div ng-include="'views/partials/menu.html'"></div>
<!--/ CONTROLS Content -->

<!-- ====================================================
================= CONTENT ===============================
===================================================== -->
<section id="content">
    <ui-view ></ui-view>
</section>
<!--/ CONTENT -->