<div class="page page-users" ng-controller="updatePackages">

    <div class="pageheader">
        <h2>Paket Ekleme Ekranı</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="/"><i class="fa fa-home"></i> ArifName</a>
                </li>
                <li>
                    <a>Paket Ekle</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile tile-simple">
                <!-- tile body -->
                <div class="tile-body">
                    <form name="frm" class="form-horizontal form-validation" novalidate>
                        <div class="form-group mt-20">
                            <label for="ID" class="col-sm-2 control-label">Müşteri No:<span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-6 offset">
                                <input type="text" value="{{ID}}" name="ID" class="form-control" id="ID" required disabled>
                            </div>
                        </div>
                        <div class="form-group mt-20">
                            <label for="Reason" class="col-sm-2 control-label">Yükleme Sebebi:<span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-6 offset">
                                <input type="text" ng-model="addCredit1.reason" name="Reason" class="form-control" id="Reason" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Paket No: <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-6">
                                <input type="number" min="0" name="admin_password" ng-model="admin_password" class="form-control" ng-required="confirm_password && !admin_password" password-verify="confirm_pasword">
                                <div ng-show="frm.admin_password.$error.passwordVerify">Miktarlar Aynı Değil!!!</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Paket No: <span class="text-danger" style="font-size: 15px;">*</span></label>
                            <div class="col-sm-6">
                                <input type="number" min="0" name="confirm_password" ng-model="confirm_password"  class="form-control" ng-required="admin_password && !confirm_password" password-verify="admin_password">
                                <div ng-show="frm.confirm_password.$error.passwordVerify">Miktarlar Aynı Değil!!!</div>
                            </div>
                        </div>
                        <div style="text-align: right"><b><span class="text-danger" style="font-size: 15px;">*</span><i><span>  Zorunlu Alanlar</span></i></b></div>
                        <hr>
                        <div class="form-footer" style="padding: 0 100px;">
                            <a href="#!/home/customerPurchases/{{ID}}"><button class="btn btn-success b-0 pull-right" ng-disabled="frm.$invalid || admin_password.length === 0 " ng-click="addCredit()">Submit</button></a>
                            <a class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" href="#!/home/customerPurchases/{{ID}}"><i class="fa fa-arrow-left"></i>Cancel</a>
                        </div>
                    </form>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
        </div>
    </div>
    <!-- /row -->
</div>


