<div class="page page-users" ng-controller="interpreterCTRL">

    <div class="pageheader">

        <h2>Yorumcular</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="home.dashboard"><i class="fa fa-home"></i> ArifName</a>
                </li>
                <li>
                    <a>Yorumcu Detayları</a>
                </li>
            </ul>

        </div>

    </div>

                <!-- row -->
    <div class="row">

        <div class="col-md-12">

            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen01">

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Yorumcu </strong>Detayları</h1>
                    <ul class="controls">
                        <li>
                            <a class="btn-nostyle" ui-sref="home.newInterpreter"  ng-click="addInterpreter(id)"> <i class="fa fa-plus mr-5"></i>Yorumcu Ekle</a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" name="frm_search" class="form-control" placeholder="Search..." ng-keyup="$event.keyCode == 13 ? model.search() : null" ng-model="model.searchData">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" ng-click="model.search()" type="button">Search!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-custom" template-pagination="custom/pager">
                            <tr>
                                <th>Id</th>
                                <th>NickName</th>
                                <th>Adı Soyadı</th>
                                <th>Email</th>
                                <th>Tarih</th>
                                <th>Skor</th>
                                <th>Detay</th>
                            </tr>

                            <tr ng-repeat="interpreter in model.data | filter:model.searchData ">
                                <td >
                                    {{interpreter.id}}
                                </td>
                                <td>
                                    {{interpreter.nickname}}
                                </td>
                                <td>
                                    {{interpreter.user.first_name}} {{interpreter.user.last_name}}
                                </td>
                                <td>
                                    <a href="mailto:{{interpreter.user.email}}" target="_top">{{interpreter.user.email}}</a>
                                </td>
                                <td>
                                    {{interpreter.user.date_joined | date: "mediumDate"}}
                                </td>
                                <td>
                                    {{interpreter.rating}}
                                </td>

                                <td data-title="'Actions'" class="actions">
                                    <a id="{{interpreter.id}}" href="#!/home/interpreterEdit/{{interpreter.id}}" class="btn-nostyle edit"
                                       style="margin-right: 10px;cursor: pointer;"><span>Details</span></a>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- /tile body -->
            </section>
            <!-- /tile -->
            <div class="row text-right" style="padding-right: 13px;">
                <nav>
                    <ul class="pagination pagination">
                        <li ng-class="{disabled: model.isFirstPage()}"><a href ng-click="model.setPage(1)" title="First Page"> &laquo; </a></li>
                        <li ng-class="{disabled: model.isFirstPage()}"><a href ng-click="model.previousPage()" title="Back Page">Geri</a></li>
                        <li ng-repeat="page in model.range()" ng-class="{active: model.isCurrentPage(page)}" ng-click="model.setPage(page)" ng-if="model.isInRange(page)"><a style="cursor: pointer">{{page}}</a>
                        </li>
                        <li><a href ng-click="model.pagePrompt()" title="Next Page" ng-if="model.shouldShowJumpPage()">Page...</a></li>
                        <li ng-class="{disabled: model.isLastPage()}"><a href ng-click="model.nextPage()" title="Next Page">İleri</a></li>
                        <li ng-class="{disabled: model.isLastPage()}"><a href ng-click="model.setLastPage()" title="Last Page"> &raquo; </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>


